<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suits</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:19:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuit@6574b225]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:20:01</td>   <td>20767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuit@6574b225]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/02/02 16:20:25</td>   <td>44975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@23ceabc1]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/02/02 16:20:47</td>   <td>67674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@23ceabc1]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/02/02 16:20:41</td>   <td>61509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@23ceabc1]">VerifyDefaultSelectionFlightType</td> 
  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:19:59</td>   <td>19641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuit.appclose()[pri:0, instance:com.mercury.test.LoginRegressionSuit@6574b225]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:20:24</td>   <td>44178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuit.appclose()[pri:0, instance:com.mercury.test.LoginRegressionSuit@6574b225]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/02/02 16:21:13</td>   <td>92759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.departingFromValueSelection()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@23ceabc1]">departingFromValueSelection</td> 
  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:20:20</td>   <td>40246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuit.verifyInValidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuit@6574b225]">verifyInValidLogin</td> 
  <td>main@650023597</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:19:51</td>   <td>11345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuit.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuit@6574b225]">verifyValidLogin</td> 
  <td>main@650023597</td>   <td></td> </tr>
</table>
