<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:07:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@5056dfcb]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@1182320432</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:08:08</td>   <td>22685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.AppLaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@5056dfcb]">&gt;&gt;AppLaunch</td> 
<td>&nbsp;</td>  <td>main@1182320432</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:08:01</td>   <td>15728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@5056dfcb]">VerifyDefaultSelectionFlightType</td> 
  <td>main@1182320432</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/02/02 16:08:26</td>   <td>40109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.departingFromValueSelection()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@5056dfcb]">departingFromValueSelection</td> 
  <td>main@1182320432</td>   <td></td> </tr>
</table>
